.add-new-item-container {
  width: 380px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;

  input {
    height: 30px;
    width: 320px;
    margin: 0 5px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  button {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    border: none;
    background-color: #6a2b58;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: #fffcff;

    &:hover {
      background-color: gray;
      cursor: pointer;
    }
  }

  &--dark {
    input {
      background-color: #515154;
      color: white;
    }
    button {
      background-color: #282f41;
    }
  }
}
