.todo-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
  padding: 5px;
  width: 360px;
  height: 20px;
  background-color: #f3f1f4;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  span {
    font-size: small;
  }

  &__input {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__buttons {
    width: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  &--dark {
    background-color: #515154;
    color: darkgrey;
  }
  &--completed {
    text-decoration: line-through;
    background-color: lightgreen;
  }
}
