.todo-page {
  margin-left: 35%;
  margin-top: 5%;
  padding: 10px;
  width: 380px;
  height: 500px;
  background-color: #fafafe;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  h1 {
    margin: 10px;
    font-size: x-large;
  }

  &--dark {
    background-color: #2c2c2e;
    color: white;
  }
}
