.nav-bar {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #6a2b58;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  a {
    margin: 10px;
    font-size: medium;
    font-weight: 400;
    text-decoration: none;
    color: #fffcff;
    &:hover {
      opacity: 0.5;
    }
  }

  button {
    color: #fffcff;
    font-size: medium;
    border: none;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
  }

  &--dark {
    background-color: #2c2c2e;

    a {
      color: darkgrey;
    }

    button {
      color: darkgrey;
    }
  }
}
