html,
body,
#root,
#root > div {
  height: 100%;
}

.app {
  background-color: #fcefd7;
  color: #212c59;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.app--dark {
  background-color: #282f41;
}
